---
category: 'Program'
title: 'Program'
---

%h1.h1.text-center
  %span= current_resource.data.title

%p The conference program will span for three days (June 27th, 28th and 29th) featuring three keynote speakers, multiple invited talks from experts around the world and technical sessions. The program agenda will soon be available. In the meantime, please <a href="../submissions">submit your contributions</a> and <a href="../attending">register</a> for the conference.
%p.text-center
  %a.btn.btn-lg.btn-link{:href => prefix + "program/Neuroergonomics-Booklet-Web-v4.pdf"} View Full Program Booklet &rarr;
  %br
  %span{style: "color: #666666;"} Last updated June 22, 2018
%br
%br

.accordion
  .card
    .card-header.bg-light#headingOne
      %h5.mb-0
        %a.btn.btn-link{"data-toggle" => "collapse", "href" => "#collapseOne", "aria-expanded"=>"true", "aria-controls"=>"collapseOne"}
          %strong + Poster Presentations
    #collapseOne.collapse{"aria-labelledby"=>"headingOne", "data-parent"=>"#accordion"}
      .card-body
        = partial "partials/cards/posters"

%br
%br
%h2.h2.text-center
  %span Satellite Events
%br
%h4.h4 Wednesday, June 27<sup>th</sup>, 2018
%p 2nd International Neuroergonomics Conference will include a Neuroengineering symposium and multiple workshops.
.card-deck
  .card
    .card-header.bg-primary
      %h3{:style => "font-size: 18px; margin: 0;"} Workshops
    .card-body
      %p
        %strong Multiple workshops
        %br
        %span{style: "color: #888888;"} 9:30 PM – 4:30 PM
      %p
        %a.btn.btn-link{:href => prefix + "program/workshops.html"} Workshops Info &rarr;
  %br
  .card
    .card-header.bg-primary
      %h3{:style => "font-size: 18px; margin: 0;"} Symposium
    .card-body
      %p
        %strong Neuroengineering: Probing and rewiring neural circuits
        %br
        %span{style: "color: #888888;"} 12:30 PM – 4:45 PM
      %p
        %a.btn.btn-link{:href => prefix + "program/symposium.html"} Symposium Info &rarr;
