---
category: 'Program'
title: 'Symposium'
---

%h1.h1.text-center
  %span= current_resource.data.title

%h2.h2 Neuroengineering: Probing and Rewiring Neural Circuits
%p
  %strong June 27, 2018, 12:30 PM to 4:45 PM
  %br
  Bossone Auditorium
  %br
  3201 Market Street, Philadelphia, PA
  %br
  Organized by Catherine von Reyn, Drexel University

%h3.h3 About the Symposium
%p Both clinical and basic neuroscience research benefit from technologies that expand our ability to understand nervous system function and promote function restoration following injury or degeneration. This symposium highlights cutting-edge developments in probing and rewiring neural circuits.

%h3.h3 Tentative Program

%ol
  %h4.h4 Rewiring
  %li
    %strong
      %a{:href => "http://www.lehigh.edu/~yeb211/"} Yevgeny Berdichevsky, PhD, Lehigh University
      %br
      "Engineering 3D Neural Circuit Structure and Function"
  %li
    %strong
      %a{:href => "https://songlab.research.chop.edu/"} Yuanquan Song, PhD, Children’s Hospital of Philadelphia, University of Pennsylvania
      %br
      "Neuroregeneration, May the Force be with You!"
  %li
    %strong
      %a{:href => "http://drexel.edu/medicine/faculty/profiles/Simon-Giszter/"} Simon Giszter, PhD, Drexel University College of Medicine
      %br
      “Enhancing and directing cortical and spinal plasticity: lessons from the rodent model of Spinal Cord Injury”
  %li
    %strong
      %a{:href => "http://www.med.upenn.edu/cullenlab/"} Kacy Cullen, PhD, University of Pennsylvania
      %br
      “Living Tissue Engineered Brain Pathways to Restore the Connectome”
  %h4.h4 Probing
  %li
    %strong
      %a{:href => "https://www.janelia.org/lab/schreiter-lab"} Eric Schreiter, PhD, Janelia Research Campus
      %br
      "Chemigenetic Indicators of Neuronal Activity"
  %li
    %strong
      %a{:href => "http://dbaharoni.com/"} Daniel Aharoni, PhD, UCLA
      %br
      "Miniscope.org: An open-source imaging platform focused on developing the next generation of miniature fluorescence microscopes"
  %li
    %strong
      %a{:href => "http://www.neurobio.pitt.edu/faculty/stauffer.htm"} William Stauffer, PhD, University of Pittsburgh
      %br
      "Cell type-specific investigation of reward system function"
  %li
    %strong
      %a{:href => "http://www.jefferson.edu/university/jmc/departments/neurology/faculty/serruya.html"} Mijail Serruya, MD, PhD, Thomas Jefferson University
      %br
      "Intracortical brain-computer interfaces"

%br
= partial "partials/back-to-satellite"
