---
category: 'Program'
title: 'Symposium'
---

%h1.h1.text-center
  %span= current_resource.data.title

%h2.h2 Neuroengineering: Probing and rewiring neural circuits
%p
  12:30 PM to 4:45 PM
  %br
  June 27, 2018
  %br
  Bossone Auditorium
  %br
  3201 Market Street, Philadelphia, PA
  %br
  Organized by Catherine von Reyn, Drexel University

%h3.h3 About the symposium
%p Both clinical and basic neuroscience research benefit from technologies that expand our ability to understand nervous system function and promote function restoration following injury or degeneration. This symposium highlights cutting-edge developments in probing and rewiring neural circuits.

%h3.h3 Tentative Program
%ol
  %li
    %a{:href => "http://www.med.upenn.edu/cullenlab/"} Kacy Cullen, PhD, University of Pennsylvania
  %li
    %a{:href => "http://www.jefferson.edu/university/jmc/departments/neurology/faculty/serruya.html"} Mijail Serruya, MD, PhD, Thomas Jefferson University
  %li
    %a{:href => "https://www.janelia.org/lab/schreiter-lab"} Eric Schreiter, PhD, Janelia Research Campus
  %li
    %a{:href => "http://www.lehigh.edu/%7Eyeb211/"} Yevgeny Berdichevsky, PhD, Lehigh University
  %li
    %a{:href => "http://www.neurobio.pitt.edu/faculty/stauffer.htm"} William Stauffer, PhD, University of Pittsburgh