---
category: 'Program'
title: 'Transcranial Direct Current Stimulation (tDCS): Advanced Theory and Hands-on Workshop'
---

%h2.h2
  = current_resource.data.title
%p
  %strong June 27, 2018, 9:30 AM – 3:30 PM
  %br
  Creese Student Center
  %br
  3201 Chestnut Street, Philadelphia, PA

%h3.h3
  Speakers

%p Adam J Woods PhD,

%p Helena Knotkova PhD,

%p Marom Bikson PhD

%h3.h3 About the workshop
%p This intensive one-day international workshop is dedicated to the design and implementation of tDCS in clinical and research settings. It provides an update on 2018 state-of-the-art comprehensive theoretical background and methodology, with presentations and discussions on the development of professional standards for safety, validity and reproducibility of functional outcomes in tDCS applications, as well as practical experience necessary to acquire the knowledge and skills for tDCS applications.
%p This tDCS Advanced Theory and Hands-on Workshop distinguishes itself from other tDCS educational initiatives by offering extensive practical experience and an in-depth learning approach, including interactive lectures, facilitated discussion, demonstrations, hands-on step-by-step exercises.
%p The Workshop utilizes versatile educational elements from the basic to expert level and covers the complex framework from neurophysiological research to clinical applications. It is expected that even individuals highly experienced in tDCS will benefit from the advanced and comprehensive training in the state-of-the-art technique.
%p The Workshop promotes expertise in the field of noninvasive brain stimulation and focuses on building competencies in the following areas: Principles and mechanisms of tDCS, electrode preparation and montages, stimulation parameters, protocols and targeted outcomes, safety, tDCS current modeling and dose determination, good practices in tDCS delivery, tDCS clinical and research trial design and implementation, with specific methodologic considerations for HD-tDCS and conventional tDCS in institutional and home-based settings.
%p Education and training will be provided by a seasoned highly experienced team. Previous practical experience with tDCS not required.

%h3.h3 Target Audience
%p This course is designed for clinicians and researchers in disciplines related to neurostimulation (such as medicine, nursing, neuroscience, bioengineering), and personnel involved in tDCS research and treatment.

= partial "partials/back-to-workshops"
