---
category: 'Program'
title: Wireless Stimulus Delivery for Mobile EEG/ERP Experiments
---

%h2.h2
  = current_resource.data.title
%p
  %strong June 27, 2018, 9:30 AM – 12 PM
  %br
  [TDB] room, Creese Student Center
  %br
  3201 Chestnut Street, Philadelphia, PA

%h3.h3 Speakers
%p Ivan Gligorijević, CEO, mBrainTrain LLC
%p Pavle Mijović, Biomedical Engineer, mBrainTrain LLC

%h3.h3 About the workshop
%p During the workshop we will show basic functionalities of the wireless and truly mobile EEG system SMARTING that is capable of streaming and recording the data on both PC- and Android- based platforms. Together, we will demonstrate a high precision wireless stimulus delivery protocols and how ERP experiments can be performed, while having complete freedom of movement. Additionally, we will perform an ERP study in virtual reality (VR) environment. We will show in real-time the continuous EEG data during movements, where participants will be able to observe what level of contamination is present during walking and hand reaching conditions. We will provide personal and the experience of our colleagues in using mobile EEG for performing Neuroergonomics studies and key factors to ensure success of those. We will also be doing real-time demos with workshop participants.


%h3.h3 Tentative Program
%table.table.table-striped
  %tr
    %td{:width => "180"} 9:30 AM – 10:00 AM
    %td Introduction: Wireless EEG in Neuroergonomics Studies
  %tr
    %td 10:00 AM – 10:30 AM
    %td Synchroneous Multimodal Studies for Neuroergonomics Studies – Short Introduction to the Lab Streaming Layer (LSL) Protocol
  %tr
    %td 10:30 AM – 11:00 AM
    %td Wireless Stimulus Delivery for the EEG experimets
  %tr
    %td 11:00 AM – 11:30 AM
    %td Hands-on Demo: Performing an ERP Experiment and an ERP Experiment in a VR-like Environment
  %tr
    %td 11:30 AM – 12:00 PM
    %td Real-time Applications Demo with Workshop Participants

%br
= partial "partials/back-to-workshops"
