---
category: 'Program'
title: 'Workshops'
---

%h1.h1.text-center
  %span= current_resource.data.title

%table.table
  %thead.bg-primary.text-white
    %tr
      %th
      %th Title
      %th Speakers
  %tbody
    %tr
      %td 1
      %td
        %strong
          %a{:href => "./workshop1.html"} Transcranial Direct Current Stimulation (tDCS): Advanced Theory and Hands-on Workshop
      %td
        Marom Bikson et al.
    %tr
      %td 2
      %td
        %strong Neuroadaptive Technologies and Dry EEG
      %td Thorsten Zander et al.
    %tr
      %td 3
      %td
        %strong
          %a{:href => "./workshop3.html"} Brain-Computer Interface Workshop for Control, Assessment and Rehabilitation
      %td Christopher Guger et al.
    %tr
      %td 4
      %td
        %strong Mobile EEG Data Collection
      %td Sponsor Hands-on Workshop / Demos
