---
category: 'Program'
title: Neuroadaptive Technologies and BCI+
---

%h2.h2
  = current_resource.data.title
%p
  %strong June 27, 2018, 9:30 AM – 3:30 PM
  %br
  Bossone Room 302
  %br
  3140 Market Street, Philadelphia, PA

%h3.h3 Speakers
%p Dr. Thorsten O. Zander, Zander Laboratories B.V.
%p Laurens R. Krol, TU Berlin
%p David E. Medine, Brain Products GmbH

%h3.h3 About the workshop
%p Neuroadaptive technology utilizes real-time measures of neurophysiological activity within a closed control loop to enable intelligent software adaptation. Measures of electrocortical and neurovascular brain activity are quantified to provide a dynamic representation of the user state, with respect to implicit psychological activity related to cognitions, emotions and motivation.
%p When applying Neuroadaptive Technology in scenarios outside of the laboratory, new ways for signal acquisition and analyzes are needed. The BCI+ initiative presented by Brain Products delivers a framework of amplifiers, sensors and software that supports research and application in the real world.
%p This workshop is aimed at participants interested in applications of Neuroadaptive Technology in Human-Computer Interaction, specifically for users without disabilities. Here a focus lies on the use of EEG-based passive Brain-Computer Interfaces. We will discuss potential areas of application for this technology, methods that can be used to assess certain aspects of user state in real time and ethical implications of using Neuroadaptive Technology outside of laboratories. We also will have a hands-on demo session where applications can be tested by participants.
%p The session is endorsed by the <a href="http://www.neuroadaptive.org">Society for Neuroadaptive Technology</a>. It is intended to connect researchers from different scientific areas who are interested in the application of Neuroadaptive Technology.

%h3.h3 Tentative Program
%table.table.table-striped
  %tr
    %td{:width => "180"} 9:30 AM – 10:00 AM
    %td Introduction: Neuroadaptive Technology and BCI+ – Scientific Overview by Dr. Thorsten O. Zander
  %tr
    %td 10:00 AM – 12:00 PM
    %td A BCI-Framework: LSL, BCI-Toolboxes and Hardware by Dr. David E. Medine
  %tr
    %td 12:00 PM – 1:00 PM
    %td Break and Discussion
  %tr
    %td 1:00 PM – 2:00 PM
    %td Hands-on: Hardware
  %tr
    %td 2:00 PM – 3:30 PM
    %td Live Experiement: Laurens R. Krol (TU Berlin) demonstrates a neuroadaptive Game (incl. EEG, Eye-Tracking and implicit control)

%br
= partial("partials/back-to", locals: { :location_title => "Satelite Events", :location => "./workshops.html" })

