---
category: 'Attending'
title: 'Attending'
---

%h1.h1.text-center
  %span= current_resource.data.title

%p See below for registration fees for the conference:

%table.table
  %thead
    %tr
      %th{:scope => "col"}
      %th{:scope => "col"} Before April 2nd (Early)
      %th{:scope => "col"} After April 2nd
  %tbody
    %tr
      %th{:scope => "row"} Regular
      %td $250
      %td $275
    %tr
      %th{:scope => "row"} Student
      %td $150
      %td $175

.d-flex.justify-content-center
  %p
    %a.btn.btn-primary.btn-lg{:href => "https://secure.touchnet.com/C20688_ustores/web/store_cat.jsp?STOREID=69&CATID=295&SINGLESTORE=true"}
      Register Now &rarr;