---
category: 'Attending'
title: 'Attending'
---

%h1.h1.text-center
  %span= current_resource.data.title

%p See below for registration rates for the conference:

%table.table.text-center
  %thead
    %tr
      %th{:scope => "col"}
      %th.text-center.list-group-item-light{:scope => "col", :style => "max-width: 150px"} On and Before April 2<sup>nd</sup> (Early)
      %th.text-center{:scope => "col"} April 3<sup>rd</sup> – May 1<sup>st</sup>
      %th.text-center{:scope => "col"} After May 1<sup>st</sup> (Late)
  %tbody
    %tr
      %th{:scope => "row"} Regular
      %td.list-group-item-light $250
      %td $275
      %td $300
    %tr
      %th{:scope => "row"} Student
      %td.list-group-item-light $150
      %td $175
      %td $200
%p All fees are in US Dollars. Deadlines are 11:59 PM EST.
%p Registration includes access to all sessions, exhibits, welcome reception, conference program, digital conference proceedings, symposium and workshops plus additional conference handouts.
%p.text-center
  = partial "partials/buttons/register"