- case current_resource.data.category
- when "Submissions"
  %ul.nav.nav-pills.justify-content-center.d-lg-none
    %li.nav-item
      %a.nav-link{:href => "#guidelines"}
        Guidelines
    %li.nav-item
      %a.nav-link{:href => "#submission-system"}
        Submission System

- when "Venue"
  %ul.nav.nav-pills.justify-content-center.d-lg-none
    %li.nav-item
      %a.nav-link{:href => "#travel"}
        Travel &amp; Transportation
    %li.nav-item
      %a.nav-link{:href => "#hotel"}
        Hotel Accomodations
    %li.nav-item
      %a.nav-link{:href => "#philadelphia"}
        City of Philadelphia



  %hr.d-lg-none