- case current_resource.data.category
- when "About"
  .list-group.d-none.d-lg-block
    %a.list-group-item.list-group-item-action.active{:href => "#"}
      About
    %a.list-group-item.list-group-item-action{:href => "#contact"}
      Contact
    %a.list-group-item.list-group-item-action{:href => "#committees"}
      Committees
  %br
- when "Call for Abstracts"
  .list-group.d-none.d-lg-block
    %a.list-group-item.list-group-item-action.active{:href => "#"}
      Call for Abstracts
    %a.list-group-item.list-group-item-action{:href => "#publications"}
      Publications
    %a.list-group-item.list-group-item-action{:href => "#topics"}
      Topics of Interest
    %a.list-group-item.list-group-item-action{:href => prefix + "submissions"}
      Submissions
  %br
- when "Other"
  .list-group.d-none.d-lg-block
    %a.list-group-item.list-group-item-action.active{:href => "#"}
      Other Airports
    %a.list-group-item.list-group-item-action{:href => "#nyc"}
      New York City
    %a.list-group-item.list-group-item-action{:href => "#dc"}
      Washington, DC
    %a.list-group-item.list-group-item-action{:href => "#md"}
      Baltimore, MD
  %br
- when "Submissions"
  .list-group.d-none.d-lg-block
    %a.list-group-item.list-group-item-action.active{:href => "#"}
      Submissions
    %a.list-group-item.list-group-item-action{:href => "#guidelines"}
      Guidelines
    %a.list-group-item.list-group-item-action{:href => "#submission-system"}
      Submission System
  %br
- when "Attending"
  .list-group.d-none.d-lg-block
    %a.list-group-item.list-group-item-action.active{:href => "#"}
      Attending
    %a.list-group-item.list-group-item-action{:href => "#registration"}
      Registration
  %br
- when "Venue"
  .list-group.d-none.d-lg-block
    %a.list-group-item.list-group-item-action.active{:href => "#"}
      Venue
    %a.list-group-item.list-group-item-action{:href => "#travel"}
      Travel &amp; Transportation
    %a.list-group-item.list-group-item-action{:href => "#hotel"}
      Hotel Accomodations
    %a.list-group-item.list-group-item-action{:href => "#city"}
      City of Philadelphia
  %br
- when "Program"
  .list-group.d-none.d-lg-block
    %a.list-group-item.list-group-item-action.active{:href => "#"}
      Satellite Events
    %a.list-group-item.list-group-item-action{:href => prefix + "program/symposium.html"}
      Symposium
    %a.list-group-item.list-group-item-action{:href => prefix + "program/workshops.html"}
      Workshops
  %br