- case current_resource.data.category
- when "About"
  .list-group.d-none.d-lg-block
    %a.list-group-item.list-group-item-action.active{:href => "#"}
      About
    %a.list-group-item.list-group-item-action{:href => "#contact"}
      Contact
      %span.badge.badge-primary.badge-pill
        New
    %a.list-group-item.list-group-item-action{:href => "#committees"}
      Committees
      %span.badge.badge-primary.badge-pill
        New
  %br
- when "Call for Abstracts"
  .list-group.d-none.d-lg-block
    %a.list-group-item.list-group-item-action.active{:href => "#"}
      Call for Abstracts
    %a.list-group-item.list-group-item-action{:href => "#publications"}
      Publications
      %span.badge.badge-primary.badge-pill
        New
    %a.list-group-item.list-group-item-action{:href => "#topics"}
      Topics of Interest
      %span.badge.badge-primary.badge-pill
        New
    %a.list-group-item.list-group-item-action{:href => prefix + "submissions"}
      Submissions
      %span.badge.badge-primary.badge-pill
        New
  %br
- when "Other"
  .list-group.d-none.d-lg-block
    %a.list-group-item.list-group-item-action.active{:href => "#"}
      Other Airports
    %a.list-group-item.list-group-item-action{:href => "#nyc"}
      New York City
      %span.badge.badge-primary.badge-pill
        New
    %a.list-group-item.list-group-item-action{:href => "#dc"}
      Washington, DC
      %span.badge.badge-primary.badge-pill
        New
    %a.list-group-item.list-group-item-action{:href => "#md"}
      Baltimore, MD
      %span.badge.badge-primary.badge-pill
        New
  %br
- when "Submissions"
  .list-group.d-none.d-lg-block
    %a.list-group-item.list-group-item-action.active{:href => "#"}
      Submissions
    %a.list-group-item.list-group-item-action{:href => "#guidelines"}
      Guidelines
      %span.badge.badge-primary.badge-pill
        New
    %a.list-group-item.list-group-item-action{:href => "#submission-system"}
      Submission System
      %span.badge.badge-primary.badge-pill
        New
  %br
- when "Attending"
  .list-group.d-none.d-lg-block
    %a.list-group-item.list-group-item-action.active{:href => "#"}
      Attending
    %a.list-group-item.list-group-item-action{:href => "#registration"}
      Registration
      %span.badge.badge-primary.badge-pill
        New
  %br
- when "Venue"
  .list-group.d-none.d-lg-block
    %a.list-group-item.list-group-item-action.active{:href => "#"}
      Venue
    %a.list-group-item.list-group-item-action{:href => "#travel"}
      Travel &amp; Transportation
      %span.badge.badge-primary.badge-pill
        New
    %a.list-group-item.list-group-item-action{:href => "#hotel"}
      Hotel Accomodations
      %span.badge.badge-primary.badge-pill
        New
    %a.list-group-item.list-group-item-action{:href => "#city"}
      City of Philadelphia
      %span.badge.badge-primary.badge-pill
        New
  %br