%nav{"aria-label" => "breadcrumb", role: "navigation"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to "Page Title", "#"
    %li.breadcrumb-item
      = link_to "Page Title", "#"
    %li.breadcrumb-item.active{"aria-current" => "page"}
      Page Title