%nav{"aria-label" => "breadcrumb", role: "navigation"}
  %ol.breadcrumb
    %li.breadcrumb-item.active
      You are here
    - if current_resource.parent.blank?
      %li.breadcrumb-item.active
        Neuroergonomics 2018

    - elsif current_resource.parent.present?
      %li.breadcrumb-item
        = link_to "Neuroergonomics 2018", prefix
      %li.breadcrumb-item.active
        = current_resource.data.title