%ul.list-group
  %a.list-group-item.active{:href => "./venue/#hotel"}
    Hotel Accommodations &rarr;
  %a.list-group-item{:href => "./venue/#hotel"} A list of suggested hotels near the conference location is available. Specials discounts are available first come first served.

%br
%ul.list-group
  %a.list-group-item.active{:href => "./venue/#travel"}
    Travel & Transportation &rarr;
  %a.list-group-item{:href => "./venue/#travel"} Information about how to arrive at the conference venue.