%ul.list-group
  %li.list-group-item.active
    Important Dates
  %li.list-group-item <strong>March 15, 2018</strong> – Abstract submission deadline
  %li.list-group-item <strong>April 2, 2018</strong> – Early registration discount ends
  %li.list-group-item <strong>April 30, 2018</strong> – Announcement of acceptance of abstracts
  %li.list-group-item <strong>June 27, 2018</strong> – Full day workshops/training and satellite  events
  %li.list-group-item <strong>June 27-29, 2018</strong> – Meeting dates
  %li.list-group-item <strong>August 31, 2018</strong> – (Optional) Invited full paper submissions, extended from select abstracts, to be published in Frontiers in Human Neuroscience journal