.card
  .card-header Important Dates
  .card-body
    %p <strong>March 15, 2018</strong> – Abstract submission deadline
    %p <strong>April 2, 2018</strong> – Early registration discount ends
    %p <strong>April 30, 2018</strong> – Announcement of acceptance of abstracts
    %p <strong>June 27, 2018</strong> – Full day workshops/training and satellite events
    %p <strong>June 27-29, 2018</strong> – Meeting dates
    %p <strong>August 31, 2018</strong> – (Optional) Invited full paper submissions, extended from select abstracts, to be published in Frontiers in Human Neuroscience journal