.card
  .card-header
    Email Newsletter Signup
  .card-body
    %p
      Join hundreds of scientists, leading researchers, and interested industry colleagues for two full days of high-value and exciting presentations from the community’s world-leading scientists on the cutting edge of exciting new areas of Neuroergonomics research.
    %p
      Sign up to be notified about call for proposals and other event and travel information.
    .embed-responsive.embed-responsive-4by3
      %iframe.embed-responsive-item{ :src => "https://drexel.qualtrics.com/jfe/form/SV_cD9xz2w499vlPGR" }
