%p Poster sessions are a valuable method for authors to present studies and meet with interested attendees for in-depth technical discussions. A poster session is a graphic presentation of an author's research. Authors illustrate their study findings by displaying graphs, photos, diagrams, and a small amount of text on poster boards.
%p All posters will be hanged to prearranged poster boards in the morning of the day that they are assigned to. And posters will be in display all day until the evening if the day they are assigned. Clips will be provided to attach your posters to the boards. Specific board locations are assigned for each poster and this will be listed in the conference program.
%p
  %strong Dimensions
%p The poster boards are 36 inches high x 48 inches long in landscape orientation (long dimension is horizontal).
%p
  %strong Format
%ul
  %li Your poster should cover the key points of your work. The ideal poster is designed to attract attention, provide a brief overview of your work and initiate discussion &questions.
  %li The title of your poster should appear at the top in CAPITAL letters about 25mm (1”) high.
  %li The author(s) name(s) and affiliation(s) are put below the title.
  %li Use color to highlight and make your poster more attractive, by using pictures, diagrams, cartoons, figures, etc., rather than only text wherever possible
  %li The smallest text on your poster should be at least 9mm (3/8″) high, and the important points should be in a larger font. Make your poster as self-explanatory as possible. This will save you time to use for discussions and questions.

%p
  %strong Poster Printing
%p Presenting authors should print their physical poster based on the requirements listed above. Neuroergonomics conference does not print posters on behalf of presenters.