%ul.list-group
  %a.list-group-item.active{:href => "https://docs.google.com/forms/d/e/1FAIpQLSdyU8jup0ZrxVkbmb2Tcbi_0mstkRlaEcE-TmvfvE7kRPNYvg/viewform"}
    Workshop Signup Link &rarr;
  %a.list-group-item{:href => "https://docs.google.com/forms/d/e/1FAIpQLSdyU8jup0ZrxVkbmb2Tcbi_0mstkRlaEcE-TmvfvE7kRPNYvg/viewform"} Seats are limited and first-come-first-served. Please complete the signup form.
%br

%ul.list-group
  %a.list-group-item.active{:href => "./program"}
    Conference Program &rarr;
  %a.list-group-item{:href => "./program"} The full program booklet is available
