.card
  =image_tag "philadelphia-skyline.png", class: "img-fluid card-img-top", alt: "Philadelphia Skyline South Street Bridge"
  .card-body
    %p
      %strong Philadelphia Skyline
    %p
      As one of the country's first major cities, Philadelphia has long been a city of innovation. Look forward to seeing you in Philadelphia.