.background-image {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media-breakpoint-up(xs) {
    background-image: image-url("banner-sm.png");
    height: 240px;
  }
  @include media-breakpoint-up(sm) {
    height: 280px;
    background-size: contain;
  }
  @include media-breakpoint-up(md) {
    background-image: image-url("banner-md.png");
    height: 276px;
    background-size: contain;
  }
  @include media-breakpoint-up(lg) {
    background-image: image-url("banner.png");
    height: 220px;
    background-size: contain;
  }
  @include media-breakpoint-up(xl) {
    height: 285px;
    background-size: contain;
  }
}

.display-4 {
  @include media-breakpoint-up(xs) {
    font-size: 2rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
  }
}
