---
category: 'Submission'
title: 'Submission'
---

%h1.h1.text-center
  %span= current_resource.data.title
%h2.h2.text-center
  Call for Abstracts for the 2nd International Neuroergonomics Conference
%p
  Neuroergonomics is an emerging field that investigates the human brain in relation to behavioral performance in natural environments and everyday settings. Neuroergonomics research aims to expand our understanding of the neural mechanisms underlying human perceptual, cognitive, and motor functioning with a focus on real-world contexts. This discipline has been summarized by Raja Parasuraman, as the “scientific study of the brain mechanisms and psychological and physical functions of humans in relation to technology, work and environments”.
%p
  With the advent of portable and wearable neuroimaging methods like electroencephalography (EEG), functional near-infrared spectroscopy (fNIRS), and neurostimulation approaches like transcranial direct-current stimulation (tDCS), significant progress has been made in recording and altering brain activity without restricting body movements and without limiting research to laboratory environments.  Traditional approaches imposed limitations for experimental protocols, data collection settings and task conditions at the expense of ecological validity. Neuroergonomics integrates advancements of neuroscience and neuroengineering, to provide the flexibility to assess body and brain function in naturalistic work settings bringing neuroscience into everyday life.
%p
  Recent trends in neuroergonomics have established it as a tool to inform design, development and use of complex human machine/computer interfaces. These steps towards an understanding of the operator brain function can guide optimization and refinement of advanced systems specifically relevant in aerospace and medical field applications when failure of the system can be life-threatening. Moreover, deployment of portable neuroimaging technologies to real time settings could help assess cognitive and motivational states of personnel assigned to perform critical tasks as well as offer insights into a diverse range of day-to-day activities.
%p
  This conference calls for abstract submissions that cover new approaches and emerging trends in neuroergonomics. Abstract submissions can be any topic covering advanced neuroscience methods and techniques as well as neuroimaging analysis approaches to investigate brain dynamics in actively behaving participants in field settings. Application of these technologies to investigate cognition, emotion, perception, decision making, attention, working memory, cognitive workload, performance monitoring, human-machine-interaction, brain computer interface, mobile brain and body imaging, neuroadaptive technologies and related areas relevant to working environments are especially invited.
%p
  %strong Invited full papers will be published in the journal Frontiers in Human Neuroscience
%p
  In collaboration with the journal Frontiers in Human Neuroscience, an article collection will be organized to include invited full papers that are extended from the select abstract submissions:
  = link_to "https://www.frontiersin.org/research-topics/7089/neuroergonomics-the-brain-at-work-in-everyday-settings"