.background-image
  = link_to "/" do
    %h1
      = image_tag "banner.png", :class => "d-none d-lg-block d-xl-block", :alt => " "
    %h1.text-center.d-lg-none.d-xl.none
      2nd International
      %br
      %span Neuroergonomics Conference
    %h2.text-center.d-lg-none.d-xl.none
      The Brain At Work
      %br
      and in Everyday Life
      %br
      %span
        June 27 – 29, 2018
    %p.lead.text-center.d-lg-none.d-xl.none
      Drexel University / Philadelphia, PA - USA
