- case current_resource.data.title
- when 'Overview'
  = partial 'partials/cards/important-dates'
  %br
  = partial 'partials/cards/skyline'
  %br
- when 'Venue', 'Other'
  = partial 'partials/cards/skyline'
  %br
= partial 'partials/cards/newsletter'