---
category: 'Contact'
title: 'Contact'
---

%h1.h1.text-center
  %span= current_resource.data.title
%p
  For general questions, please contact us.
%hr.my-4

%p
  %strong Co-Chairs
%p Hasan Ayaz, Drexel University, USA
%p Frederic Dehais, ISAE, France

%hr.my-4

%p
  %strong International Organizing Committee
%p Carryl Baldwin, Human Factors and Applied Cognition program, George Mason University, Fairfax, VA USA
%p Daniel Callan, Center for Information and Neural Networks, National Institute of Information and Communications Technology, Osaka University, Japan
%p Lewis Chuang, Max Planck Institute for Biological Cybernetics, Tubingen, Germany

%hr.my-4

%p
  %strong Local Organizing Committee
%p Banu Onaral, Drexel University, USA
%p Kurtulus Izzetoglu, Drexel University, USA
%p Erin Solovey, Drexel University, USA
%p Meltem Izzetoglu, Villanova University, USA
