---
category: 'Venue'
title: 'Venue'
---

%h1.h1.text-center
  %span= current_resource.data.title

= image_tag "behrakis-grand-hall-outside.jpg", :class => "img-fluid"
%br
%br
%p The conference will take place at <strong>Behrakis Grand Hall located within the Creese Student Center on the campus of Drexel University</strong>. Behrakis Grand Hall is conveniently situated within University City, within blocks of two accessible subway stations, a large train station, multiple bus routes, and highway. If you choose to stay within Philadelphia for the conference, there are multiple hotels within a 10-minute walk of campus, many restaurants, and a 24-hour public safety force.

%p
  %strong Address
  %br
  Behrakis Grand Hall
  %br
  Drexel University
  %br
  3210 Chestnut Street
  %br
  Philadelphia, PA 19104
  %br
  United States
.embed-responsive.embed-responsive-16by9
  %iframe{:src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.456257663197!2d-75.19064214898458!3d39.95355069150111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c64fea2ac227%3A0xed5aac265c261f22!2s3210+Chestnut+St%2C+Philadelphia%2C+PA+19104!5e0!3m2!1sen!2sus!4v1516749738985", :frameborder => "0"}
%br
%br

%hr

%br
%br

%a{:name => "travel"}
%h2.h2.text-center
  %span Travel & Transportation
%br
%br
%h3.h3 From the Airport (PHL)
%hr
%h4.h4{:style => "font-size: 18px;"} Public Transit: SEPTA Regional Rail
%p Philadelphia airport is connected to University City by the Airport line which runs every 30 minutes (5am-12:30am) from each terminal. From the airport, locations in University City can be reached by taking the train either to the University City stop, or to 30th street station depending on the location you will be staying at. If you choose to stay in Center City or other locations in the city, the train will also stop at Suburban Station at 15th street and Jefferson Station at 11th street.
%p Tickets for the train can be paid in cash or by credit card at a kiosk next to the train for $6.75.
%a.btn.btn-outline-info{:href => "http://www.septa.org/key/updates/airport-quick-trips.html"} More info: SEPTA Regional Rail

%h4.h4{:style => "font-size: 18px;"}  Taxi
%p Taxis are readily available from Zone 5 at the PHL airport. Pricing is a flat-rate charge of $28.50 to anywhere within Center Philadelphia, including University city.
%h4.h4{:style => "font-size: 18px;"}  Ride Share Apps: Lyft and Uber
%p Rideshare apps are legal in Phialdelphia and make transit to and from the airport very convenient. Both Lyft and Uber rides can be picked up at the Arrivals section of the airport. Average costs for Lyft and Uber will vary with time but you can expect to pay $20-25 for an individual ride, and between $10-20 for Uber Pool and Lyft Line.
%h4.h4{:style => "font-size: 18px;"}  Rental Car Services
%p Rental cars can be accessed at the airport through the Ground Transportation information desks near Baggage Claims. Alamo, Avis, Budget, Dollar, Enterprise, Hertz, and National all have service at the airport and can be conveniently reached. Although cars can be rented at your convenience, Philadelphia is rather compact, making the use of a car not explicitly necessary. Renting a car may be considerably more inconvenient due to the costs and availability of parking.
%a.btn.btn-outline-info{:href => "http://www.phl.org/Pages/passengerinfo/transportationservices/rental_cars.aspx"} More info: Rental Car Services
%br
%br
%br

%h3.h3
  %span Other Airports
%p It is possible that you may find a cheaper or more convenient flight by traveling through New York City, Washington DC, or Baltimore, MD then those arriving directly in PHL.
%p
  %a.btn.btn-outline-primary{:href => prefix + "venue/travel-other-airports.html#nyc"} New York City &rarr;
%p
  %a.btn.btn-outline-primary{:href => prefix + "venue/travel-other-airports.html#dc"} Washington, DC &rarr;
%p
  %a.btn.btn-outline-primary{:href => prefix + "venue/travel-other-airports.html#md"} Baltimore, MD &rarr;
%br

%br
%h3.h3 By Bus or Train
%hr
%p Philadelphia can be easily accessed within the North-East corridor by bus and by rail. Whether as the primary mode of transportation or as an interconnecting transit, various bus service providers provide useful and frequent services to Philadelphia and the surrounding areas.
%p Amtrak rail service is the main passenger railway service in the US and serves Philadelphia primarily through 30th street station in University City. Tickets can be purchased online at Amtrak.com and should be purchased at least 21 days in advance in order to secure reasonable prices. Amtrak can provide many regional services to major east-coast cities such as Washington DC, Baltimore, Wilmington, Trenton, Newark, New York City, Boston, Pittsburgh and other areas.
%a.btn.btn-outline-info{:href => "http://www.amtrak.com"} More info: Amtrak
%br
%br
%p Greyhound is one of the major bus services with the largest variety of service locations. In Philadelphia, Greyhound operates out of the Greyhound terminal located at 11th and Arch Street. Bus services can be very affordable when purchased in advance and serve numerous locations.
%a.btn.btn-outline-info{:href => "http://www.greyhound.com"} More info: Greyhound
%br
%br
%p Megabus and Bolt bus both offer discount fairs from Philadelphia to other major cities in the region. Tickets purchased in advance can be quite cheap, but may offer other inconveniences in terms of their locations, transfers and the times offered.
%a.btn.btn-outline-info{:href => "http://www.megabus.com"} More info: Megabus
%br
%a.btn.btn-outline-info{:href => "http://www.boltbus.com"} More info: Bolt Bus


%br
%br

%hr

%br
%br

%a{:name => "hotel"}
%h2.h2.text-center
  %span Hotel Accomodations
%br
%br
%p Arranging your stay in Philadelphia can be done through a number of Hotels in the University City area, as well as in Center City. Most within a 10-minute walk of the conference location. Drexel University offers discounts through several local hotels listed below. Airbnb also offers service within Philadelphia, however areas outside of the Center City and immediate University City area may be more affordable, but less transit friendly, host-dependent, and riskier. Please take care to ensure your accommodations are reliable and trustworthy.

%h3.h3{:style => "font-size: 18px;"} AKA University City ($219 per night plus tax)
%p
  2929 Walnut Street
  %br
  Philadelphia, PA 19104
%a.btn.btn-outline-info{:href => "https://www.reseze.net/servlet/SendPage?hotelid=1571&skipfirstpage=true&page=550220"} More info: AKA
%br
%br
%h3.h3{:style => "font-size: 18px;"} The Study at University City ($195 per night plus tax)
%p
  20 South 33rd Street
  %br
  Philadelphia, PA 19104
%a.btn.btn-outline-info{:href => "https://reservations.travelclick.com/99716?groupID=2107705"} More info: The Study
%br
%br
%h3.h3{:style => "font-size: 18px;"} Sheraton Philadelphia University City Hotel ($149 per night plus tax)
%p
  3549 Chestnut Street
  %br
  Philadelphia, PA 19104
%a.btn.btn-outline-info{:href => "https://www.starwoodmeeting.com/events/start.action?id=1802011424&key=D52BEDF"} More info: Sheraton
%br
%br
%h3.h3{:style => "font-size: 18px;"}
  International House Philadelphia
%p
  %strong
    $75 per night plus tax with promo code: "Neuroergonomics"
%p
  3701 Chestnut Street,
  %br
  Philadelphia, PA 19104
%a.btn.btn-outline-info{:href => "http://ihousephilly.org/student-housing/brief-stays-at-ihp"} More info: International House


%br
%br

%hr

%br
%br

%a{:name => "city"}
%h2.h2.text-center
  %span City of Philadelphia

%h3.h3 Things to do
%p Founded in 1682, Philadelphia is a city rich in history, innovation, and culture. The city holds a particular fame for its role in the American Revolution, being the meeting area and site for the signing of the Declaration of Independence in 1776 as well as the Constitution in 1787. Prior to Washington, DC, Philadelphia served as the nations capital, eventually evolving from a primarily industrial city into an important economic, medical, and educational epicenter. Take your spare time from the convention to get out, see and experience the City of Brotherly Love!
%h4.h4 Museums and History
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Known For
      %th Website
  %tbody
    %tr
      %th{:scope => "row"}Philadelphia Museum of Art
      %td Iconic museum located on the parkway featuring fine art, sculpture, armor, drawings, and of course the Rocky Statue
      %td
        %a{:href => "http://www.philamuseum.org"} www.philamuseum.org
    %tr
      %th{:scope => "row"}Barnes Foundation
      %td Impressionism, Modernist Art collection
      %td
        %a{:href => "http://www.barnesfoundation.org"} www.barnesfoundation.org
    %tr
      %th{:scope => "row"}Academy of Natural Sciences
      %td Oldest natural science research institution in America featuring prominent Dinosaur collections
      %td
        %a{:href => "http://www.ansp.org"} www.ansp.org
    %tr
      %th{:scope => "row"}Franklin Institute
      %td Science Education museum with exhibits on the Physics, Space, Neuroscience, Trains and more
      %td
        %a{:href => "http://www.fi.edu"} www.fi.edu
    %tr
      %th{:scope => "row"}Penn Museum
      %td Museum of archaeology and anthropology with vast collections of ancient Mediterranean and Mesopotamian cultures
      %td
        %a{:href => "http://www.penn.museum"} www.penn.museum
    %tr
      %th{:scope => "row"}Mütter Museum
      %td Medical museum of anatomical oddities and ancient medical equipment. Located at the College of Physicians of Philadelphia
      %td
        %a{:href => "http://muttermuseum.org"} muttermuseum.org
    %tr
      %th{:scope => "row"}Rodin Museum
      %td A branch of the art museum containing the largest collection of Rodin’s sculptures including “The Thinker”
      %td
        %a{:href => "http://www.rodinmuseum.org"} www.rodinmuseum.org
    %tr
      %th{:scope => "row"}Pennsylvania Academy of the Fine Arts
      %td Museum and art school, known for its collections of 19th and 20th century American works
      %td
        %a{:href => "http://www.pafa.org"} www.pafa.org
    %tr
      %th{:scope => "row"}National Constitution Center
      %td Interactive museum dedicated to the US constitution
      %td
        %a{:href => "http://constitutioncenter.org "} constitutioncenter.org
    %tr
      %th{:scope => "row"}Independence Hall
      %td Site of the signing of the Declaration of Independence and the Constitution, located across the street from the Liberty Bell
      %td
        %a{:href => "https://www.nps.gov/inde/"} www.nps.gov/inde
    %tr
      %th{:scope => "row"}Eastern State Penitentiary
      %td Former prison in which Al Capone was once held with guided tours.
      %td
        %a{:href => "http://www.easternstate.org"} www.easternstate.org

%h4.h4 Music and Theatre
%ul
  %li Walnut Street Theatre
  %li Kimmel Center
  %li Arden Theatre Company
  %li Academy of Music
  %li Trocadero Theatre
  %li Tower Theatre
  %li World Live Café
  %li Wilma Theatre
  %li Theatre of the Living Arts (TLA)
  %li Forrest Theatre
  %li Fillmore Theatre
%h4.h4 Parks and the Outdoors
%p Fairmount Park, Clark Park, Spruce Street Harbor Park, Schuylkill River Trail