-@title = 'Contact'

%h1.display-4.text-center
  =@title
%p
  For general questions, please contact us.

%h2.display-4.text-center
  Team

%p
  %strong Co-Chairs
%p Hasan Ayaz, Drexel University, USA
%p Frederic Dehais, ISAE, France

%p
  %strong International Organizing Committee
%p Carryl Baldwin, Human Factors and Applied Cognition program, George Mason University, Fairfax, VA USA
%p Daniel Callan, Center for Information and Neural Networks, National Institute of Information and Communications Technology, Osaka University, Japan
%p Lewis Chuang, Max Planck Institute for Biological Cybernetics, Tubingen, Germany

%p
  %strong Local Organizing Committee
%p Banu Onaral, Drexel University, USA
%p Kurtulus Izzetoglu, Drexel University, USA
%p Erin Solovey, Drexel University, USA
%p Meltem Izzetoglu, Villanova University, USA
