---
category: 'Other'
title: 'Other Airports'
---

%h1.h1.text-center
  %span Travel & Transportation

%h2.h2.text-center
  %span From Other Airports

%a{:name => "nyc"}
%br
%h3.h3 New York City
%hr

%h4.h4 John F. Kennedy Airport (JFK) and La Guardia (LGA)

%p
  %strong Shuttle Services
%p Philadelphia can be reached directly from JFK airport by one of several shuttle services. These services are the most direct routes, taking ~2 hours and costing approximately $60 each way. Shuttle services are not available immediately and should be reserved in advance prior to flight.
%ul
  %li
    %a{:href => "http://www.supertranspa.com/newark-and-jfk-service-.html"} JFK shuttle service
  %li
    %a{:href => "https://www.davesbestlimoservice.com/airport-transportation"} Other Limo Services

%p Philadelphia can also be reached indirectly by taking the Long Island Rail-road (LIRR) to Penn station and then either a train or a bus from Penn Station to 30th Street station in Philadelphia.

%ul
  %li
    %a{:href => "http://web.mta.info/mta/airtrain.htm"} LIRR shuttle service
  %li
    %a{:href => "https://www.nycairporter.com/"} Airport Shuttle

%p
  %strong Bus and Rail
%p From Penn Station in New York City, there are Greyhound busses connecting the Terminal with the Greyhound station at 11th street in Philadelphia ($10-40), as well as an Amtrak rail lines that connect to 30th street station ($40-100). Megabus and Bolt bus are two discount lines ($1-30) which also serve to connect NYC and Philadelphia, however currently both stops require a long walk from Penn station and may be inconvenient. Purchasing these tickets at least 3 weeks in advance will allow you to get the lowest prices, whereas last minute tickets can be exceedingly expensive or unavailable entirely.
%ul
  %li
    %a{:href => "https://www.amtrak.com/northeastsaverfares"}By Amtrak
  %li
    %a{:href => "http://locations.greyhound.com/bus-routes/destination/new-york-ny/philadelphia-pa#fare-search"}By Greyhound

%br


%h4.h4 Newark Airport (EWR)

%p EWR is NYC’s third major airport, providing its service outside of Newark, New Jersey. Many of the options for EWR are similar to both LGA and JFK and many shuttle services to JFK will stop at EWR first. Philadelphia however can be more conveniently accessed by EWR than the other airports due to an Amtrak service directly connecting Philadelphia’s 30th street station with the airport. The train stop for the EWR service is accessible from the airport by a monorail, and the fare for the monorail is included in the Amtrak ticket price ($50-80).
%ul
  %li
    %a{:href => "https://www.amtrak.com/content/amtrak/en-us/stations/ewr.html"} Amtrak EWR Station Information
  %li
    %a{:href => "http://www.supertranspa.com/newark-and-jfk-service-.html"} EWR shuttle service
  %li
    %a{:href => "https://www.davesbestlimoservice.com/airport-transportation"} Other services

%a{:name => "dc"}
%br
%h3.h3 Washington, D.C.
%hr

%h4.h4 Dulles Washington Airport (IAD)
%p IAD is one of the two major airports serving the DC and Virginia area. Megabus offers a connecting bus service from IAD to 30th street station in Phialdelphia for about $45 each way which takes approximately 6 hours and runs once per day.
%ul
  %li
    %a{:href => "https://us.megabus.com/route-guides/dulles-washington-airport-iad-to-philadelphia-bus"} By Megabus
%p More flexible options can be found by taking public transit to Union Station, and then taking either an Amtrak train to Philadelphia, or a Greyhound bus. Getting to Union station requires taking the Washington Flyer bus to West Falls Church on the DC metro, and then taking an inbound train to Metro Center, changing to the Red Line and then taking it to Union Station.

%a{:name => "md"}
%br
%h3.h3 Baltimore, MD
%hr

%h4.h4 Baltimore Marshall Airport (BWI)

%p BWI is the main airport serving Baltimore, as well as the DC area. Getting from BWI to Philadelphia is easiest by taking the free shuttle from BWI to the MARC/Amtrak station which runs every 25 minutes.

%ul
  %li
    %a{:href => "https://www.bwiairport.com/to-from-bwi/transportation/transit/amtrak"} Free shuttle info
  %li
    %a{:href => " https://www.amtrak.com/northeastsaverfares?cmp=pdsrch-NEC|Branded%20Destinations-google"} By Amtrack

%p Shuttle services are also available for BWI that provide transportation directly from the airport to Philadelphia
%ul
  %li
    %a{:href => "https://www.davesbestlimoservice.com/airport-transportation"} Shuttle Service

%br
%br
%p
  %a.btn.btn-outline-primary{:href => prefix + "venue#travel"}
    &larr; Back to Travel Info