---
category: 'About'
title: 'About'
---

%h1.h1.text-center
  %span= current_resource.data.title
%p The International Neuroergonomics conference series is a biennial event, switching locations between Europe and USA with sequential iterations. Following the successful completion of the inaugural international Neuroergonomics (Paris, 2016), this 2nd edition (Philadelphia, 2018), aims to gather multidisciplinary research domains and scientific communities concerned with the understanding of human in complex real-life contexts.

%h2.h2.text-center
  %span= current_resource.data.title
%p
  For general questions, please contact us.
%hr.my-4

%p
  %strong Co-Chairs
%p Hasan Ayaz, Drexel University, USA
%p Frederic Dehais, ISAE, France

%hr.my-4

%p
  %strong International Organizing Committee
%p Carryl Baldwin, Human Factors and Applied Cognition program, George Mason University, Fairfax, VA USA
%p Daniel Callan, Center for Information and Neural Networks, National Institute of Information and Communications Technology, Osaka University, Japan
%p Lewis Chuang, Max Planck Institute for Biological Cybernetics, Tubingen, Germany

%hr.my-4

%p
  %strong Local Organizing Committee
%p Banu Onaral, Drexel University, USA
%p Kurtulus Izzetoglu, Drexel University, USA
%p Erin Solovey, Drexel University, USA
%p Meltem Izzetoglu, Villanova University, USA
