---
category: 'About'
title: 'About'
---

%h1.h1.text-center
 %span= current_resource.data.title
%br
%p The International Neuroergonomics conference series is a biennial event, switching locations between Europe and USA with sequential iterations. Following the successful completion of the inaugural international Neuroergonomics (Paris, 2016), this 2nd edition (Philadelphia, 2018), aims to gather multidisciplinary research domains and scientific communities concerned with the understanding of human in complex real-life contexts.

%br
%hr
%br

%a{:name => "contact"}
%h2.h2.text-center
 %span Contact
%br
%p
 For general questions, please contact us:
 = mail_to "info@neuroergonomicsconference.org"
%p
 For sponsorship opportunities, please email:
 = mail_to "sponsor@neuroergonomicsconference.org"
%p
 For questions related to abstract submissions, please email:
 = mail_to "submission@neuroergonomicsconference.org"

%br
%hr
%br

%a{:name => "committees"}
%h2.h2.text-center
 %span Committees
%br
%p
 %strong Co-Chairs
%p Hasan Ayaz, School of Biomedical Engineering, Science and Health Systems, Drexel University, Philadelphia, PA, USA
%p Frederic Dehais, Institut Supérieur de l'Aéronautique et de l'Espace, Université Fédérale de Toulouse, France

%hr.my-4

%p
 %strong International Organizing Committee
%p Carryl Baldwin, Human Factors and Applied Cognition program, George Mason University, Fairfax, VA USA
%p Daniel Callan, Center for Information and Neural Networks, National Institute of Information and Communications Technology, Osaka University, Japan
%p Lewis Chuang, Max Planck Institute for Biological Cybernetics, Tubingen, Germany
%p Frederic Dehais, Institut Supérieur de l'Aéronautique et de l'Espace, Université Fédérale de Toulouse, France
%p Hasan Ayaz, School of Biomedical Engineering, Science and Health Systems, Drexel University, Philadelphia, PA, USA

%hr.my-4

%p
 %strong Scientific Committee
%p Thierry Baccino, University of Paris 8, France
%p Carryl Baldwin, George Mason University, USA
%p Walter Besio, University of Rhode Island, USA
%p Gianluca Borghini, University of Rome, Italy
%p Anne-Marie Brouwer, Netherlands Organisation for Applied Scientific Research, Netherlands
%p Daniel Callan, Center for Information and Neural Networks, Japan
%p Ricardo Chavarriaga, École Polytechnique Fédérale de Lausanne, Switzerland
%p Lewis Chuang, Max Planck Institute for Biological Cybernetics, Germany
%p Eward de Visser, George Mason University, USA
%p Dick de Waard, University of Groningen, Netherlands
%p Stefen Debener, Uni. Tübingen, Germany
%p José J. Cañas Delgado, University of Granada, Spain
%p Justin R. Estepp, Air Force Research Laboratory, USA
%p Steven Fairclough, Liverpool John Moores University, UK
%p Tiago Falk, University of Quebec, Canada
%p Marco Ferrari, University of L'Aquila, Italy
%p Cali Fidopiastis, Design Interactive, Inc., USA
%p Catherine Gabaude, IFSTTAR-TS2-LESCOT, France
%p Christoph Guger, g.tec medical engineering GmbH, Austria
%p Peter Hancock, University of Central Florida, USA
%p Angela Harrivel, NASA, USA
%p Klas Ihme, DLR, DE, Germany
%p Philippe Jackson, Université Laval, Canada
%p Tzyy-Ping Jung, University of California, San Diego, USA
%p Sid Kouider, Ecole Normale Supèrieure, France
%p Arthur Kramer, University of Illinois, USA
%p Frank Krueger, George Mason University, USA
%p John Lee, University Wisconsin-Madison, USA
%p Fabien Lotte, Inria Bordeaux Sud-Ouest, France
%p Ryan McKendrick, Northrop Grumman, USA
%p John Medaglia, Drexel University, USA
%p Chang S. Nam, North Carolina State University, USA
%p Noman Nasser, Air University, Pakistan
%p Jordan Navarro, University of Lyon, France
%p Banu Onaral, Drexel University, USA
%p Stephane Perrey, Université de Montpellier, France
%p Robert W. Proctor, Purdue University, USA
%p Jochem Rieger, Uni. Tübingen, Germany
%p Raphaelle Roy, ISAE, France
%p Erin Solovey, Drexel University, USA
%p Martin Spüler, Uni. Tübingen, Germany
%p Chad Stephens, NASA, USA
%p Christian Wallraven, Korea University, Korea
%p Matthias Ziegler, Lockheed Martin, USA

%hr.my-4

%p
 %strong Local Organizing Committee
%p Paul Brandt-Rauf, Drexel University, USA
%p Danielle Crocker, Drexel University, USA
%p Steven Detofsky, Drexel University, USA
%p Kurtulus Izzetoglu, Drexel University, USA
%p Claire King, Drexel University, USA
%p David Myers, Drexel University, USA
%p Banu Onaral, Drexel University, USA
%p Catherine Von Reyn, Drexel University, USA

%br
%br