---
category: 'Submissions'
title: 'Submissions'
---

%h1.h1.text-center
  %span= current_resource.data.title
%p
  Abstract submissions can be either for oral presentation or poster presentation. Neuroergonomics Conference uses single-blind review process.
%h2.h2{:style => "font-size: 18px;"}
  Topics of Interest
%p
  Please see the
  %a{:href => prefix + "abstracts"}Call for Abstracts
  page for information about topics of interest.

%h2.h2{:style => "font-size: 18px;"}
  Deadline
%p
  The abstract submission deadline is
  %strong March 15, 2018.


%h2.h2{:style => "font-size: 18px;"}
  Submit Now
.text-center
  = partial "partials/buttons/submit", :locals => {:classes => "btn btn-info btn-lg"}

%br
%br

%hr

%br
%br

%a{:name => "guidelines"}
%h2.h2.text-center
  %span Guidelines
%ul
  %li Abstract main body is limited to a maximum of 1000 words

  %li Acknowledgements, figure/tables and references can be included as optional fields

  %li
    For optional references please use
    %a{:href => "http://www.apastyle.org/learn/quick-guide-on-references.aspx"}
      APA format.
  %li Presentation type can be requested as oral or poster.

%br
%br

%hr

%br
%br

%a{:name => "submission-system"}
%h2.h2.text-center
  %span Submission System Tutorial
%p Please see step-by-step tutorial for information about submitting contributions to the conference.

.text-center
  %a.btn.btn-outline-info{:href => prefix + "assets/documents/AbstractSubmissionTutorial.pdf", :target => "_blank"} Abstract Submission Tutorial [PDF]

%br
%br
%br
%br
