---
category: 'Call for Abstracts'
title: 'Call for Abstracts'
---

%hgroup
  %h1.h1.text-center
    %span= current_resource.data.title
  %h2.h2.text-center
    2nd International Neuroergonomics Conference
%p
  %strong Theme: The Brain at Work and in Everyday Life
%p
  Neuroergonomics is an emerging field that investigates the human brain in relation to behavioral performance in natural environments and everyday settings. Neuroergonomics research aims to expand our understanding of the neural mechanisms underlying human perceptual, cognitive, and motor functioning with a focus on real-world contexts. This discipline has been summarized by Raja Parasuraman, as the “scientific study of the brain mechanisms and psychological and physical functions of humans in relation to technology, work and environments”.
%p
  With the advent of portable and wearable neuroimaging methods like electroencephalography (EEG), functional near-infrared spectroscopy (fNIRS), and neurostimulation approaches like transcranial direct-current stimulation (tDCS), significant progress has been made in recording and altering brain activity without restricting body movements and without limiting research to laboratory environments. Traditional approaches imposed limitations for experimental protocols, data collection settings and task conditions at the expense of ecological validity. Neuroergonomics integrates advancements of neuroscience and neuroengineering, to provide the flexibility to assess body and brain function in naturalistic work settings bringing neuroscience into everyday life.
%p
  Recent trends in neuroergonomics have established it as a tool to inform design, development and use of complex human machine/computer interfaces. These steps towards an understanding of the operator brain function can guide optimization and refinement of advanced systems specifically relevant in aerospace and medical field applications when failure of the system can be life-threatening. Moreover, deployment of portable neuroimaging technologies to real time settings could help assess cognitive and motivational states of personnel assigned to perform critical tasks as well as offer insights into a diverse range of day-to-day activities.
%p
  This conference calls for abstract submissions that cover new approaches and emerging trends in neuroergonomics. Abstract submissions can be any topic covering advanced neuroscience methods and techniques as well as neuroimaging analysis approaches to investigate brain dynamics in actively behaving participants in field settings. Application of these technologies to investigate cognition, emotion, perception, decision making, attention, working memory, cognitive workload, performance monitoring, human-machine-interaction, brain computer interface, mobile brain and body imaging, neuroadaptive technologies and related areas relevant to working environments are especially invited.

= partial "partials/cards/important-dates"



%br
%br

%a{:name => "publications"}
%h2.h2.text-center
  %span Publications
%ol
  %li
    %strong Conference Proceedings:
    All accepted abstracts will be assigned a doi number, published by Frontiers and will be indexed and searchable online for citations.

  %li
    %strong Journal Publication:
    The Journal of Frontiers in Human Neuroscience (IF:3.2) will publish expanded versions of accepted conference submissions. Attendees are encouraged to contribute to the research topic:
%p.text-center
  = link_to "Neuroergonomics: the Brain at Work in Everyday Settings", "https://www.frontiersin.org/research-topics/7089/neuroergonomics-the-brain-at-work-in-everyday-settings", :class => "btn btn-outline-primary"
%br
%br

%hr

%br
%br

%a{:name => "topics"}
%h2.h2.text-center
  %span Topics of Interest

%p Broad areas from applied neuroscience, neuroengineering to human factors are welcome. The theme of the 2018 International Neuroergonomics conference will be “Human-Technology Frontier”. Emerging technologies and human technology interactions are transforming the world of work and the lives of workers. The next generation smart machines revolutionize the society and daily lives from factory floor with robots to streets with self-driving cars. Neuroergonomic approaches may help guide the design of such systems as well improve their interaction with the human. The recent advent of ultra-portable and wearable neuroimaging and neurostimulation technologies triggered a proliferation of research on brain recording and augmentation, both in healthy adults and in patients.  Augmentation refers to the improvement of brain function (e.g. cognitive, affective, motor) through task performance, or reversal of deficits that are normal consequences of performance in healthy adults (e.g., mental fatigue, stress) or those related to brain disorders.

%p Neuroergonomics 2018 will cover new trends and recent developments related to human technology convergence ranging from theory to practice and current progress ongoing successful initiatives. Potential topics include, but are not limited to:

%ul
  %li Innovative methodologies and protocols using brain activity monitoring techniques and psychophysiological measurements in realistic operational settings
  %li Brain computer interfaces and human performance monitoring in ecological conditions
  %li Affective computing and Neuroadaptive technologies
  %li Mobile Brain-Body Imaging
  %li Advances in wearable and portable neuroimaging such as fNIRS/EEG
  %li Applications of neurostimulation such as tDCS/tACS/tES/rTMS
  %li Applications of neurofeedback/biofeedback mechanisms
  %li Advanced signal processing and machine learning techniques
  %li Cognitive countermeasures, augmented cognition, and brain stimulations to enhance performance and mitigate human error
  %li Virtual Reality and Serious Gaming
  %li Affective processing and emotion recognition from neural and physiological measures
  %li Assessment of cognition in various neurological disorders and in real-time settings and home environments
  %li Memory, skill acquisition and training assessment.

%br
%br
%br
%br