---
category: 'Home'
title: 'Important Dates'
i: 2
---

%h1.h1.text-center
  %span= current_resource.data.title
%p February 28, 2018 – Abstract submission deadline
%p March 15, 2018 – Early registration discount ends
%p March 31, 2018 – Announcement of acceptance of abstracts
%p June 27-29, 2018 – Meeting dates
%p August 31, 2018 – (Optional) Invited full paper submissions, extended from select abstracts, to be published in Frontiers in Human Neuroscience journal