-@title = 'Important Dates'
-@meta_keywords = '2nd International, Neuroergonomics Conference, Abstract submission deadline, Early registration discount, abstracts, Meeting dates, published, Frontiers in Human Neuroscience, journal'

%h1.display-4.text-center
  =@title

%p February 28, 2018 – Abstract submission deadline
%p March 15, 2018 – Early registration discount ends
%p March 31, 2018 – Announcement of acceptance of abstracts
%p June 27-29, 2018 – Meeting dates
%p August 31, 2018 – (Optional) Invited full paper submissions, extended from select abstracts, to be published in Frontiers in Human Neuroscience journal
