-@title= 'Neuroergonomics 2018 – Conference'
-@page_classes= 'home'

.container-fluid
  .row
    .col-12
      .background-image
.container
  .row
    .col-lg-6
      .jumbotron
        %p
          %em Save the Date
        %h1.display-4
          2nd International Neuroergonomics Conference
        %p.lead
          June 27 &mdash; 29, 2018
          %br
          <strong>Drexel University</strong> / Philadelphia, PA - USA
        %hr.my-4
        %p
          Join hundreds of scientists, leading researchers, and interested industry colleagues for two full days of high-value and exciting presentations from the community’s world-leading scientists on the cutting edge of exciting new areas of Neuroergonomics research.
    .col-lg-6
      .card
        .card-header
          Email Newsletter Signup
        .card-block
          %p
            %em Sign up to be notified about call for proposals and other event and travel information.
          .embed-responsive.embed-responsive-1by1
            %iframe.embed-responsive-item{ :src => "https://drexel.qualtrics.com/jfe/form/SV_cD9xz2w499vlPGR" }

