-@title = 'Neuroergonomics Conference 2018 Philadelphia'
-@page_classes = 'home'
-@meta_keywords = '2nd International, Neuroergonomics Conference, Drexel University, Philadelphia, Raja Parasuraman, Paris, research, cutting-edge, invitation, understanding the brain'
-@meta_description = 'Join hundreds of scientists, researchers, and industry colleagues for two full days of exciting presentations from world-leading scientists on Neuroergonomics research.'
%h1.display-4.text-center
  =@title

%p Join hundreds of scientists, leading researchers, and interested industry colleagues for three days of high-value and exciting presentations from the community’s world-leading scientists on the cutting edge of exciting new areas of Neuroergonomics research.

%p
  %strong The 2nd International Neuroergonomics Conference will be held at Drexel University, Philadelphia, PA USA, June 27-29, 2018.

  Neuroergonomics has witnessed extensive growth since its development a decade ago with the understanding of the brain at work and in everyday life. Following the success of the <a href="https://websites.isae-supaero.fr/neuroergonomics-2016/neuroergonomics-2016/about-neuroergonomics/what-s-neuroergonomics">inaugural Neuroergonomics conference</a> in Paris, the time is right to take stock of the achievements of neuroergonomics research, discuss key questions and develop new ideas for the future. This is the purpose of the Neuroergonomics 2018 Conference.

%p
  In memorandum of <strong>Raja Parasuraman</strong>, there will be two <strong>Parasuraman prizes</strong> to reward the best student paper and the best senior paper. Moreover, the best abstracts will be pre-selected for an extended version to be published in a special issue.

%p All submitted abstracts will be peer-reviewed by independent referees from the international program boards. Submissions are welcome from all aspects of Neuroergonomics research from theoretical category that deals with models, concepts, and structures; to applied category that demonstrates translation of research towards practical innovation.

%p In collaboration with the journal <a href="https://www.frontiersin.org/research-topics/7089/neuroergonomics-the-brain-at-work-in-everyday-settings">Frontiers in Human Neuroscience</a>, an article collection will be organized to include invited full papers that are extended from the select abstract submissions.

%hr.my-4
%h2.display-4.text-center
  %span Keynote Speakers
%p <strong>Michael Posner</strong>, Professor Emeritus at the University of Oregon and Adjunct Professor at the Weill Medical College in New York (Sackler Institute)
%p <strong>Scott Makeig</strong>, Research Scientist & Director, Swartz Center for Computational Neuroscience (SCCN) · Institute for Neural Computation (INC) University of California San Diego (UCSD)

%hr.my-4
%h2.display-4.text-center
  %span Important Dates
%p February 28, 2018 – Abstract submission deadline
%p March 15, 2018 – Early registration discount ends
%p March 31, 2018 – Announcement of acceptance of abstracts
%p June 27-29, 2018 – Meeting dates
%p August 31, 2018 – (Optional) Invited full paper submissions, extended from select abstracts, to be published in Frontiers in Human Neuroscience journal

%br